.card-text{
    font-size: 12px;
    text-align: left;
}
.card-gradelevel{
    font-size: small;
}
.nav-link:active{
    background-color:00008b;
}
/*.nav-link.active
{
    color:#00008b;
    background-color:#fff;
    border-color:#dee2e6 #dee2e6 #fff}
    
.nav-link{
    color:#fff;
    background-color:#007bff
} 
.nav-link:hover{
    background-color: rgba(198, 223, 255, 0.589);
}
*/
.jumbotron text-center{
    background-color: black;
    background-size: cover;
    
}
.card-title{
    text-transform: capitalize;
}

/*.nav-link:hover{
    background-color: rgba(198, 223, 255, 0.589);
}
*/
nav[role="main"] ul li {
    background-color: rgba(198, 223, 255, 0);
}

nav[role="sub"] ul li:hover {
    background-color:  rgba(198, 223, 255, 0.589);
    border-radius: 5px ;
  
}

.footer-design{
    text-align:center;
    font-size: 15px;
}

/*.nav-bg
{
    color:#00008b;
}
*/
