.card-text{
    font-size: 12px;
    text-align: left;
}
.card-gradelevel{
    font-size: small;
}
.nav-link:active{
    background-color:00008b;
}
.nav-link:hover{
    background-color: rgba(198, 223, 255, 0.589);
}

.card-title{
    text-transform: capitalize;
}